.content-font-colore{
    font-size: large;
    font-weight: 500;
    color: chocolate;
}

.bgImage{
    background-image: url("./loginbackground.jpg");
    height: 100vh;
    width: auto;
}

#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }

  
  /* .site-layout-background {
    background: #fff; 
    background-image: url("./loginbackground.jpg");
    height: 100vh;
    width: auto;
  } */