
.bgImage {
    background-image: url("./loginbackground.jpg");
    height: 100vh;
    width: auto;
}

.centerArea {

    padding: 100px 50px;
}


.centerRow {
    height: 100%;
}

.radioStyle {
    display: block;
    height: 30px;
    margin-bottom: 5px;

}

.loginFormButton{
    width: 100%;
}